Package: ffsend
Version: TODO
Section: utils
Priority: standard
Architecture: TODO
Recommends: xclip
Maintainer: Tim Visée <timvisee@gmail.com>
Description: easily and securely share files from the CLI using Send
 Easily and securely share files from the command line.
 A fully featured Firefox Send client.
Homepage: https://github.com/timvisee/ffsend
